<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Synergy</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet"> -->
	<link href="{{ url_for('static', filename='css/chatstyle.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
  </head>		
	<body>	
		        <header class="contact">
            <section class="contact--details">
                <h1 class="contact--details__name online">{{user2}}</h1>
				
               <!-- <p class="contact--details__tel">+44 9 555 66 777</p>-->
            </section>
        </header>
        <section class="messages">
			{% for rec in new_list %}
			{% if rec['flg']==0 %}
            <section>
               <!-- <h3 class="msg--date">Today - 19:44</h3>-->
                <div class="msg msg--me">
                    <blockquote>{{rec['message']}}</blockquote>
                </div>
                <!--<div class="msg msg--them">
                    <blockquote>He was a zombie?</blockquote>
                </div>-->
            </section>
			{%else %}
            <section>
               <!-- <h3 class="msg--date">Yesterday - 08:17</h3>-->
                <div class="msg msg--them">
                    <blockquote>{{rec['message']}}</blockquote>
                </div>
               <!-- <div class="msg msg--me">
                    <blockquote>It was like that when I got here!</blockquote>
                </div>
                <div class="msg msg--them">
                    <blockquote>Hehehe, that's my boy</blockquote>
                </div>-->
            </section>
			{%endif%}
			{%endfor%}
        </section>
        <form method=POST action="{{ url_for('messages',values=user2) }}">
            <input type="text" name="message" placeholder="Your message">
			<button type="submit" class="btn btn-default" name="send">Send</button>
          <div class="msg-send"><span class="fontawesome-play"/></div>
        </form>

		</body>
	</html>