
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Synergy</title>

    <!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link  href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
  </head>

  <body>

  <header>
    <div class="container">
<!--      <img src="img/logo.png" class="logo" alt="">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword3">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button><br>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>				-->
        </div>
      </form>
    </div>
  </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('following') }}">Following</a></li>
			<li><a href="{{ url_for('followers') }}">Followers</a></li>
<!--            <li><a href="contact.html">Contact</a></li>
            <li><a href="groups.html">Groups</a></li>
            <li><a href="photos.html">Photos</a></li>		-->
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
			<li><a href="{{ url_for('messenger') }}">Messenger</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="members">
              <h1 class="page-header">Followers</h1>
                {% for element in new_list %}
              <div class="row member-row">
			  
                <div class="col-md-3">
				{% if element['status']=='student'%}
					{% if element['gender']=='male' %}
						<img src="{{ url_for('static', filename='img/stumale.png') }}" class="img-thumbnail" alt="">
					{% else %}
						<img src="{{ url_for('static', filename='img/stufemale.png') }}" class="img-thumbnail" alt="">
					{%endif%}
				{% else %}
					{% if element['gender']=='male' %}
						<img src="{{ url_for('static', filename='img/male.png') }}" class="img-thumbnail" alt="">
					{% else %}
						<img src="{{ url_for('static', filename='img/female.png') }}" class="img-thumbnail" alt="">
					{%endif%}
				{%endif%}
                  <div class="text-center">
                    {{ element['username'] }}
                  </div>
                </div>
					
                <div class="col-md-3">
                  <!--<p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Follow</a></p>-->
				  <form method=POST action="{{ url_for('friends') }}">
				  <input type="hidden" name="record" value={{element['username']}} />
                  <!--<p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>-->
				  <p><button type="submit" class="btn btn-success btn-block" name="follow" value="Follow"><i class="fa fa-users"></i>Follow</button></p>
				 </form>
				  <!--<p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i>Follow</a></p>-->
                </div>
                <div class="col-md-3">
                  <p><a href="{{ url_for('messages', values=element['username']) }}" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="{{ url_for('getprofile', values=element['username']) }}" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
                </div>
              </div>
			  {% endfor %}
          <!--    <div class="row member-row">
                <div class="col-md-3">
                  <img src="{{ url_for('static', filename='img/user.png') }}" class="img-thumbnail" alt="">
                  <div class="text-center">
                    SomeUser01
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
                </div>
              </div>
              <div class="row member-row">
                <div class="col-md-3">
                  <img src="{{ url_for('static', filename='img/user.png') }}" class="img-thumbnail" alt="">
                  <div class="text-center">
                    SomeUser02
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
                </div>
              </div>
              <div class="row member-row">
                <div class="col-md-3">
                  <img src="{{ url_for('static', filename='img/user.png') }}" class="img-thumbnail" alt="">
                  <div class="text-center">
                    SomeUser03
                  </div>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
                </div>
                <div class="col-md-3">
                  <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
                </div>
              </div>
			  -->
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

<footer>
      <div class="container">
        <p>Collaborative Development Platform</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
